.webgl {
    /* position: absolute !important; */
    width: 100vw !important;
    left: 0;
    /* Dynamically resize canvas so its height is always the full window height minus the header's height
     * TODO: eventually need to find a more dynamic way to do this, since the header gets broken into two rows on mobile
     */
    height: calc(100vh - 40px - 20px - 108.5px) !important;
}